{% extends 'base.html.twig' %}

{% block title %}Ride index{% endblock %}

{% block body %}
    <h1>Ride index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>StartTime</th>
                <th>Duration</th>
                <th>Distance</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ride in rides %}
            <tr>
                <td>{{ ride.id }}</td>
                <td>{{ ride.name }}</td>
                <td>{{ ride.startTime ? ride.startTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ ride.duration }}</td>
                <td>{{ ride.distance }}</td>
                <td>
                    <a href="{{ path('ride_show', {'id': ride.id}) }}">show</a>
                    <a href="{{ path('ride_edit', {'id': ride.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ride_new') }}">Create new</a>
{% endblock %}
